<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>developmentMasterSecret</key>
	<string>-IsaQqFCS-OzkFQ85UDSZg</string>
	<key>analyticsEnabled</key>
	<false/>
	<key>inProduction</key>
	<false/>
	<key>developmentAppKey</key>
	<string>KSSkoanlQJiFxcGM1h8oyQ</string>
	<key>developmentAppSecret</key>
	<string>LofzbnX7QDmFEG4O29JPqA</string>
	<key>productionAppKey</key>
	<string></string>
	<key>productionAppSecret</key>
	<string></string>
</dict>
</plist>
